* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  outline: none;
}




.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}


input{
  padding-top: 8px;
  padding-right: 140px;
  padding-bottom: 8px;
  padding-left: 14px;
  border: 4px solid #808080;
  border-width: 1px;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2E2F42;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.2);

}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2E2F42;
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 152px;
}

.login-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2E2F42;
  margin-bottom: 8px;
}

.login-form input {
  border-radius: 4px;
  border-color: #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.login-form input:hover {
  border-color: #000000;
  background-color:  #FFFFFF;
}

.login-form input:focus {
  outline: none;
  border-color: #808080;;
}


.login-form button {
  margin-top: 8px;
  padding: 8px 16px;
  color: #FFFFFF;
  background-color: #4E75FF;
  border-radius: 8px;
  border:#4E75FF;
}

.login-form button:hover {
  background-color: #6C8CFF;
  border: #6C8CFF;
}